@font-face {
  font-family: 'Brawler';
  font-style: normal;
  font-weight: 400;
  src: local('Brawler'), url(http://themes.googleusercontent.com/static/fonts/brawler/v3/M26YAmfuPThXsUbtJ7rcOALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
